/* app/Editor/editor-fonts.scss */

@font-face {
  font-family: 'Cinzel Decorative';
  // Use relative path from THIS scss file to the assets folder
  src: url('./CinzelDecorative-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cinzel Decorative';
  src: url('./CinzelDecorative-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}



@font-face {
  font-family: 'Gupter';
  src: url('./Gupter-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Allan';
  src: url('./Allan-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Allan';
  src: url('./Allan-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Cairo';
  src: url('./Cairo.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amaranth';
  src: url('./Amaranth-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amaranth';
  src: url('./Amaranth-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Amaranth';
  src: url('./Amaranth-Italic.otf') format('opentype');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Amaranth';
  src: url('./Amaranth-BoldItalic.otf') format('opentype');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}